*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: Arial, Helvetica, sans-serif;
  background-color: white;
}

.container{
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
}

.debug-box{
  background-color: rgba(255, 0, 0, .2);
  border: 1px solid black;
}
.debug > div{
  border: 1px solid black;
}

.d-flex{
  display: flex;
}

.big-column{
  width: 60%;
}

.small-column{
  width: 40%;
}

.bg-grey{
  background-color: #F6F6F6;
}


/* header */
header .topbar {
  height: 80px;
  background-color: #255EE9;
}

header .topbar .container{
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.topbar .logo span{
  color: white;
}

.menu ul{
  list-style: none;
}

.menu ul li{
  padding: 0 15px;
}

.menu ul li a{
  text-decoration: none;
  color: white;
}

.btn{
  padding: 10px 20px;
  border: none;
  border-radius: 20px;
  background-color: white;
}

.btn a{
  color: black;
  text-decoration: none;
}

#jumbotron{
  justify-content: center;
  align-items: center;
  height: 500px;
  background-image: url(img/jumbo.png);
  background-size: cover;
}

#jumbotron .content{
  width: 90%;
  max-width: 900px;
}

#jumbotron .content h1{
  margin: 20px auto;
  color: white;
  font-size: 3rem;
  text-align: center;
}

#jumbotron .content p{
  color: white;
  text-align: center;
}

.content .content-btn{
  justify-content: center;
  align-items: center;
  margin: 20px 0;
}

.content .content-btn .btn{
  margin: 0 10px;
}

.btn.btn-black{
  background-color: black;
}

.btn.btn-black a{
  color: white;
  text-decoration: none;
}

.btn a i{
  margin-right: 10px;
}


/* main */
section, footer{
  padding: 40px 0;
}

.small-column{
  padding: 20px;
}

.small-column h2{
  margin: 20px auto;
  font-size: 3rem;
}

section:last-child .container{
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
}

section:last-child .container h2{
  margin: 40px 0;
}

.btn.btn-ligth{
  background-color: #859ffd;
}

.btn.btn-ligth a{
  color: white;
}


/* footer */
footer{
  background-color: #24272A;
  color: white;
  height: 600px;  /* DEBUG */
}

.footer-top{
  height: 400px;  /* DEBUG */
}

.footer-top .social{
  width: 25%;
}

.footer-top .menu{
  width: 75%;
}

.footer-top .menu .col{
  flex-basis: 25%;
}

.footer-bottom{
  padding: 10px 0;
  justify-content: space-between;
}